
<p-dialog class="add-dialog"
        [(visible)]="showDialog"
        [contentStyle]="{'overflow': 'visible'}"
        [closable]="true"
        (hide)="hideDialog()">
    <p-header>Create New Plan</p-header>
    <div class="add-dialog-content">
        <input type="text" class="name-input" placeholder="Name" name="name" id='name' [value]="name"/>
        <label for="name" class="name-label">Name</label>
        <div class="dialog-content-spacer"></div>
        <input class="filepath-input" placeholder="Filepath" name="filepath" id='filepath' [value]="filepath"/>
        <label for="filepath" class="filepath-label">Filepath</label>
        <input type="text" id="startDate" placeholder="Start" class="start-date-input" onfocus="(this.type='date')" onblur="(this.type='text')">
        <label for="startDate" class="start-date-label">Start</label>
        <p-calendar id="endDate" class="end-date-input"></p-calendar>
        <label for="endDate" class="end-date-label">End</label>
    </div>
    <p-footer>
        <p *ngIf="!inputValid()" class="invalid-input-label">{{ errorMessage }}</p>
        <button pButton
            *ngIf="inputValid()"
            type="button"
            label="Create"
            class="ui-button-success"
            (click)="addPlan()"></button>
        <button pButton
            type="button"
            label="Cancel"
            (click)="hideDialog()"></button>
    </p-footer>
</p-dialog>