@import '../../../styles/global-styles.scss';

.add-dialog {
    overflow: visible;
    position: relative;
    height: 800px;
    width: 400px;
    align-content: center;
}


$primary: #1f7ed0;
$secondary: #aed3f3;
$white: #fff;
$gray: #9b9b9b;

.add-dialog-content {
  position: relative;
  padding: 10px 0 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: $tag-dialog-width;
  height: $tag-dialog-height;
  overflow-y: auto;
}

#eventIntervalDropdown {
    width: 100%;
    overflow: visible;
}

.name-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .name-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.name-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.name-input:focus {
  ~ .name-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.name-input {
  &:required,&:invalid { box-shadow:none; }
}


.amount-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0px;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .amount-label {
      font-size: 1.3rem;
      cursor: text;
      top: 80px;
    }
  }
  
  .amount-label {
    position: absolute;
    top: 60px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .amount-input:focus {
    ~ .amount-label {
        position: absolute;
        top: 60px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .amount-input {
    &:required,&:invalid { box-shadow:none; }
  }
  
  .dialog-content-spacer {
      height: 20px;
  }

  .invalid-input-label {
      padding-top: 0;
      color: red;
  }
  .ui-g div {
    //background-color: #ededed;
    text-align: center;
   // border: 1px solid #fafafa;
    align-content: center;
}


  .start-date-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0px;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .start-date-label {
      font-size: 1.3rem;
      cursor: text;
      top: 145px;
    }
  }
  
  .start-date-label {
    position: absolute;
    top: 125px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .start-date-input:focus {
    ~ .start-date-label {
        position: absolute;
        top: 125px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .start-date-input {
    &:required,&:invalid { box-shadow:none; }
  }

  .end-date-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0px;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .end-date-label {
      font-size: 1.3rem;
      cursor: text;
      top: 210px;
    }
  }
  
  .end-date-label {
    position: absolute;
    top: 190px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .end-date-input:focus {
    ~ .end-date-label {
        position: absolute;
        top: 190px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .end-date-input {
    &:required,&:invalid { box-shadow:none; }
  }

  input[type="date"]::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }