.table-caption.dark {
    background-color: black;
}

.table-header-even.dark {
    background-color: #252525;
    // border: 1px solid whitesmoke;
    padding: 0;
    width: 30px;
}
.table-header-odd.dark {
    background-color: #303030;
    // border: 1px solid whitesmoke;
    padding: 0;
    width: 30px;
}