<table>
    <tr>
        <td>
            <app-calendar-month [month]="0"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="1"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="2"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="3"></app-calendar-month>
        </td>
    </tr>
    <tr>
        <td>
            <app-calendar-month [month]="0"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="1"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="2"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="3"></app-calendar-month>
        </td>
    </tr>
    <tr>
        <td>
            <app-calendar-month [month]="4"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="5"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="6"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="7"></app-calendar-month>
        </td>
    </tr>
    <tr>
        <td>
            <app-calendar-month [month]="8"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="9"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="10"></app-calendar-month>
        </td>
        <td>
            <app-calendar-month [month]="11"></app-calendar-month>
        </td>
    </tr>
</table>