<p-panel id="objectivesPanel">
    <p-header>
        <div *ngIf="plan">
            Objectives - {{plan.name}}
        </div>
        <div *ngIf="!plan">
            Objectives - n/a
        </div>
    </p-header>
    <p-table [value]="objectives"
        class="objective-table"
        selectionMode="single"
        [(selection)]="selectedObjective"
        [scrollable]="true"
        scrollHeight="80vh">
        <ng-template pTemplate="caption">
            <div style="height: 20px;">
                <button pButton
                        type="button"
                        id="delete-btn"
                        icon="pi pi-trash"
                        style="height: 20px; align-content: center;"
                        label="Delete"
                        class="ui-button-danger"
                        [disabled]="!selectedObjective"
                        (click)="handleDelete()">
                </button>
                <button pButton
                        type="button"
                        id="add-btn"
                        icon="pi pi-plus"
                        style="height: 20px; align-content: center;"
                        label="Add"
                        class="ui-button-success"
                        (click)="showDialog()">
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3em"></th>
                <th class="table-field-content">Name</th>
                <th class="table-field-content">Goal</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td style="width: 3em">
                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </td>
                <td class="table-field-content">{{rowData.name}}</td>
                <td class="table-field-content">${{rowData.goal.toFixed(2)}}</td>
            </tr>
        </ng-template> 
    </p-table>
</p-panel>
<p-dialog class="add-dialog"
          [(visible)]="showAddDialog"
          [closable]="true"
          (hide)="hideDialog()">
    <p-header>Add Objective</p-header>
    <div class="add-dialog-content">
        <input type="text" class="objective-name" placeholder="Name" name="name" id='name' [(ngModel)]="objectiveName"/>
        <label for="name" class="objective-name-label">Name</label>
        <div class="dialog-content-spacer"></div>
        <input type="number" class="objective-goal" placeholder="Goal" name="goal" id='goal' [(ngModel)]="objectiveGoal"/>
        <label for="goal" class="objective-goal-label">Goal</label>
        <div class="dialog-content-spacer"></div>
        <tr>
            <td class="table-field-content">
                <input class="objective-color" name="color" id='color' placeholder="Color" [(ngModel)]="color"/>
                <label for="color" class="objective-color-label">Color</label>
            </td>
            <td class="table-field-content">
                <p-colorPicker [(ngModel)]="color" appendTo="body" [style]="{overflow: 'hidden'}"></p-colorPicker>
            </td>
        </tr>
      </div>
    <p-footer>
        <div class="ui-g">
            <div class="ui-g-4">
                <button pButton
                    [disabled]="!inputValid()"
                    type="button"
                    label="Save"
                    class="ui-button-success"
                    (click)="addObjective()"></button>
            </div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <button pButton
                    type="button"
                    label="Cancel"
                    (click)="hideDialog()"></button>
            </div>
        </div>
        <div class="ui-g ui-g-8">
            <p *ngIf="!inputValid()" class="invalid-input-label">{{ errorMessage }}</p>
        </div>
    </p-footer>
</p-dialog>