@import '../../styles/global-styles.scss';

:host::ng-deep {
    #calendarPanel.calendar-panel .ui-panel {
        height: $full-height !important;
        width: $full-width;
    }
    #calendarPanel .ui-panel-content-wrapper .ui-panel-content {
        height: calc(#{$full-height} - #{$panel-titlebar-height});
    }
}