@import '../../../styles/global-styles.scss';

#add-btn {
    position: absolute;
    right: 10px;
}
#edit-btn {
    position: absolute;
    right: 100px;
}


:host::ng-deep {
    #add-btn .ui-button-text {
        transform: translate(0px, -6px);
    }
    #edit-btn .ui-button-text {
        transform: translate(0px, -6px);
    }
}

.plan-table {
    height: 80vh !important;
    overflow-y: auto;
    padding-left: 0 !important;
}